<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Sign up</h2>
        <div class="input-field formGroup">
          <i class="fas fa-envelope"></i>
          <input
            type="email"
            class="formControl"
            placeholder="Email Address"
            #userEmail
            required
          />
        </div>
        <div class="input-field formGroup">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            class="formControl"
            placeholder="Password"
            #userPwd
            required
          />
        </div>
        <div>
          <button
            type="button"
            value="SIGN UP"
            class="btn solid"
            (click)="authService.SignUp(userEmail.value, userPwd.value)"
          >
            SIGN UP
          </button>
          OR
          <button
            type="button"
            value="LOGIN"
            [routerLink]="['/login']"
            class="btn solid"
          >
            LOGIN
          </button>
        </div>
        <p class="social-text"> Sign in with social platforms</p>
        <div class="social-media">
          <a href="#" class="social-icon">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-google"></i>
          </a>
          <a href="#" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <img src="../../assets/img/login.svg" class="image" alt="" />
    </div>
  </div>
</div>
